@model IEnumerable<Movie>
<header class="bg-dark py-5">
    <div class="container">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">All Movies</h1>
                    
            </div>
        </div>
    </div>
    
</header>
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (var item in Model)
            {
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Sale badge-->
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">@item.Category.Name</div>
                        <div class="badge bg-gradient text-white position-absolute" style="top: 0.5rem; left: 0.5rem">@item.Cinema.Name</div>
                        
                        <!-- Product image-->
                        <img class="card-img-top" width="100" src="~/Movieimage/@item.MinImg" alt="@item.Name" />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">@item.Name</h5>
                                <h5 class="fw-bolder">@item.DateTime</h5>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    
                                </div>
                                <!-- Product price-->
                                <div class="text-muted ">$ @item.Price</div>
                                
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/Customer/Book/Create?movieId=@item.Id">Book</a></div>
                        </div>
                    </div>
                </div>
            }
            

        </div>
    </div>
</section>
<!-- #Pagination -->
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item @(ViewBag.currentPage == 1 ? "disabled" : "")">
            <a class="page-link" href="/Customer/Home/Index?page=@(ViewBag.currentPage - 1)" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
           
            <li class="page-item active"><a class="page-link" href="/Customer/Home/Index?page=@i">@i</a></li>
        }
        
        
        <li class="page-item @(ViewBag.currentPage == ViewBag.TotalPages ? "disabled" : "") ">
            <a class="page-link" href="/Customer/Home/Index?page=@(ViewBag.currentPage + 1)" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>